@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#eee]
  }
  input {
    @apply border focus:outline-none focus:ring-4 ring-teal-400;
  }
  input[type='submit'],
  button {
    @apply cursor-pointer uppercase font-semibold border-none focus:border-none hover:bg-opacity-90 bg-primary text-white p-2 rounded-xl disabled:bg-gray-400 disabled:cursor-not-allowed;
  }

  label {
    @apply font-semibold;
  }

  select {
    @apply p-2 border focus:border-primary focus:border-2 rounded-xl;
  }

  a {
    @apply hover:underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
