@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-300 font-work-sans  ;
  }
  input{
    @apply border focus:outline-none focus:border-primary focus:border-2 
  }
  input[type="submit"],button {
    @apply cursor-pointer uppercase font-semibold border-none focus:border-none hover:bg-opacity-90 bg-primary text-white p-2 rounded-xl disabled:bg-gray-400 disabled:cursor-not-allowed
  }

  label {
    @apply font-semibold
  }

  select {
    @apply p-2 border focus:border-primary focus:border-2 rounded-xl
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
